.react-confirm-alert-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: rgba(0, 0, 0, 0.5);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    opacity: 1;
    font-family: "Lato";
}

.react-confirm-alert {
    font-family: Arial, Helvetica, sans-serif;
    width: 500px;
    padding: 30px;
    text-align: left;
    background: #fff;
    box-shadow: 0 20px 75px rgba(0, 0, 0, 0.13);
    color: #666;
    position: relative;
    .react-confirm-alert-header {
        border-bottom: 1px solid #ddd;
        margin: 0 -30px;
        >label {
            padding-left: 40px;
            margin-top: 0;
            font-size: 20px;
            color: #333;
        }
        padding-bottom: 20px;
    }
    .react-confirm-alert-body {
        padding-top: 50px;
        text-align: center;
        .template-success {
            &:before {
                font-size: 135px;
                content: "\f00c";
            }
            font: normal normal normal 14px/1 FontAwesome;
            margin-top: 50px;
            height: 150px;
            color: #2d9e10;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .template-danger {
            &:before {
                font-size: 135px;
                content: "\f00d";
            }
            font: normal normal normal 14px/1 FontAwesome;
            margin-top: 50px;
            height: 150px;
            color: #d9534f;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .template-warning {
            &:before {
                font-size: 135px;
                content: "\f071";
            }
            font: normal normal normal 14px/1 FontAwesome;
            margin-top: 50px;
            height: 150px;
            color: #f0ad4e;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        >label {
            color: #000;
            font-size: 20px;
        }
    }
    .react-confirm-alert-close {
        position: absolute;
        top: 30px;
        right: 30px;
        font-size: 25px;
        color: #ccc;
        cursor: pointer;
        &:hover {
            color: #333;
        }
    }
}


.react-confirm-alert-button-group {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-start;
    margin-top: 55px;
    margin-bottom: 35px;
    >div {
        flex: 1;
        display: flex;
        padding: 0 8px;
        >button {
            outline: none;
            background: #fff;
            color: #000;
            border: none;
            display: inline-block;
            padding: 16px 28px;
            margin-right: 10px;
            border-radius: 1px;
            font-size: 14px;
            cursor: pointer;
            flex: 1;
            box-shadow: 1px 3px 15px 3px #ddd;
        }
    }

}
