


#profile_billing_page {
	.heading-me {
		font-size: 20px;
		line-height: 28px;
		color: rgb(68,68,68);
		font-weight: bold;
	}

	.heading-profile {
		font-size: 16px;
		line-height: 28px;
		color: rgb(68,68,68);
		font-weight: bold;
	}

	.form-select {
		margin-top: 2px;
	}

	.border-me {
		border: 1px solid #ddd;
	}

	.border-top {
		border-top: 1px solid #ddd;
	}

	.border-bottom {
		border-bottom: 1px solid #ddd;
	}

	.card-me {
		box-shadow: none;
	}

	.margin-bottom {
		margin-bottom: 30px;
	}

	.no-padding {
		padding: 0px;
	}

	.padding-bottom {
		padding-bottom: 15px;
	}

	.padding-bottom-30 {
		padding-bottom: 30px;
	}

	.no-border-bottom {
		border-bottom: 0px;
	}

	.padding-top-60 {
		padding-top: 60px;
	}

	.rounded {
		width: 150px;
		height: 150px;
		border-radius: 50%;
	}

	.margin-top-0 {
		margin-top: 0px;
	}

	.myselectbox {
		padding-left: 0px;
		padding-right: 0px;
	}

	.myselectbox > .btn {
		padding-left: 0px;
		padding-right: 0px;
	}

	.btn-padding {
		padding-left: 60px;
		padding-right: 60px;
	}

	.flexing {
		display: flex;
	}

	.padding-top-15 {
		padding-top: 15px;
	}

	.padding-top {
		padding-top: 15px;
	}

	.credit_type {
		margin-left: 2em;
	}

}